<div class="container">
  <h1>My first toDoList</h1>

  <div class="wrapper">
    <div class="form">
      <label for="addItemInput">What would you like to do today?</label>
      <input
        class="form-control"
        type="text"
        id="addItemInput"
        placeholder="Add your Task here"
        [(ngModel)]="newToDo"
      >
      <button class="btn btn-primary" (click)="addItem(newToDo)">Add</button>
      <h4>Filter your's tasks</h4>
      <div class="btn-wrapper">
        <button class="btn" (click)="filterItem('all')">All</button>
        <button class="btn" (click)="filterItem('active')">Active</button>
        <button class="btn" (click)="filterItem('done')">Done</button>
      </div>
    </div>

    <div class="right-side">


      <h2>{{ (toDoItems$ | async)?.length }} <span *ngIf="(toDoItems$ | async)?.length === 1; else elseBlock">task</span>
      <ng-template #elseBlock>tasks</ng-template></h2>
      <ul>
        <li *ngFor="let item of toDoItems$ | async">
          <app-item [item]="item"></app-item>
        </li>
      </ul>
    </div>
  </div>
</div>

{{toDoItems$ | async | json}}




